.header{
    display: flex;
    justify-content: space-between;
    border: solid black;
}
.logo{
    width: 100px;
}
.nav-items > ul{
display: flex;
list-style-type: none;
font-size: 30px;
}
.nav-items>ul>li{
    padding: 20px;
    margin: 1px;
}
.restoCard{
    display: flex;
    flex-wrap: wrap;
}
.Restaurant{
    margin: 5px;
    padding: 5px;
    width: 315px;
   
}
.Restaurant:hover{
    cursor:pointer ;
    border: 1px solid black;
}
.Search {
    border: 2px dashed #999;
    height: 50px;
    margin: 5px;
}
.foodImg {
    width: 100px;
}
.filBtn{
   margin:10px;
   cursor:pointer; 
}